USE [master]
GO
/****** Object:  Database [print-management-test]    Script Date: 7/7/2025 11:50:43 PM ******/
CREATE DATABASE [print-management-test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'print-management-test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\print-management-test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'print-management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\print-management_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [print-management-test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [print-management-test]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [__EFMigrationsHistory]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ConfirmEmails]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ConfirmEmails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ConfirmCode] [nvarchar](max) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ExpiryTime] [datetime2](7) NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ConfirmEmails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Customers]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Deliveries]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Deliveries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ShippingMethodId] [bigint] NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[DeliverId] [bigint] NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[DeliveryAddress] [nvarchar](max) NOT NULL,
	[EstimateDeliveryTime] [datetime2](7) NOT NULL,
	[ActualDeliveryTime] [datetime2](7) NULL,
	[DeliveryStatus] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Deliveries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Designs]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Designs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[DesignerId] [bigint] NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[DesignTime] [datetime2](7) NOT NULL,
	[DesignStatus] [nvarchar](max) NOT NULL,
	[ApproverId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Designs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [FlowTemplates]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FlowTemplates](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FlowTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Notifications]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Notifications](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[IsSeen] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Orders]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[DesignID] [bigint] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[DeliveryAddress] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Rating] [bigint] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Permissions]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Permissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[RoleId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PrintJobs]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintJobs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DesignId] [bigint] NOT NULL,
	[PrintJobStatus] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PrintJobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Products]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Projects]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Projects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](max) NOT NULL,
	[RequestDescriptionFromCustomer] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[ExpectedEndDate] [datetime2](7) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[ProjectStatus] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [RefreshTokens]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RefreshTokens](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[ExpiryTime] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ResourceForPrintJobs]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResourceForPrintJobs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResourcePropertyDetailId] [bigint] NOT NULL,
	[PrintJobId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ResourceForPrintJobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ResourceProperties]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResourceProperties](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResourcePropertyName] [nvarchar](max) NOT NULL,
	[ResourceId] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ResourceProperties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ResourcePropertyDetail]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResourcePropertyDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PropertyId] [bigint] NOT NULL,
	[PropertyDetailName] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ResourcePropertyDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Resources]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Resources](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[ResourceType] [nvarchar](max) NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[ResourceStatus] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Roles]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](max) NULL,
	[RoleName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ShippingMethods]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ShippingMethods](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ShippingMethodName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ShippingMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Step]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Step](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Position] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[FulfilledAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Step] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [StepFlowTemplate]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StepFlowTemplate](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FlowTemplateId] [bigint] NULL,
	[StepTemplateId] [bigint] NULL,
	[Position] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StepFlowTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [StepTemplates]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StepTemplates](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StepTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Teams]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Teams](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[NumberOfMember] [int] NULL,
	[CreateTime] [datetime2](7) NULL,
	[UpdateTime] [datetime2](7) NULL,
	[ManagerId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Users]    Script Date: 7/7/2025 11:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[UpdateTime] [datetime2](7) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[TeamId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240730154407_v1', N'8.0.7')
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240730160945_v1_1', N'8.0.7')
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240731042742_v2', N'8.0.7')
GO
SET IDENTITY_INSERT [ConfirmEmails] ON 

INSERT [ConfirmEmails] ([Id], [ConfirmCode], [UserId], [ExpiryTime], [IsConfirmed], [IsActive]) VALUES (1, N'QuocHung_638579766609933431', 1, CAST(N'2024-07-30T22:52:00.9934259' AS DateTime2), 1, 1)
INSERT [ConfirmEmails] ([Id], [ConfirmCode], [UserId], [ExpiryTime], [IsConfirmed], [IsActive]) VALUES (2, N'QuocHung_638579768096807396', 2, CAST(N'2024-07-30T22:54:29.6807450' AS DateTime2), 1, 1)
INSERT [ConfirmEmails] ([Id], [ConfirmCode], [UserId], [ExpiryTime], [IsConfirmed], [IsActive]) VALUES (3, N'QuocHung_638580708916688915', 2, CAST(N'2024-08-01T01:02:31.6689411' AS DateTime2), 0, 1)
GO
SET IDENTITY_INSERT [ConfirmEmails] OFF
GO
SET IDENTITY_INSERT [Customers] ON 

INSERT [Customers] ([Id], [FullName], [PhoneNumber], [Address], [Email], [IsActive]) VALUES (1, N'Khach A', N'0987654321', N'Hanoi', N'getmyklee@gmail.com', 1)
INSERT [Customers] ([Id], [FullName], [PhoneNumber], [Address], [Email], [IsActive]) VALUES (2, N'Khach B', N'0989898989', N'Hanoi', N'killace272@gmail.com', 1)
INSERT [Customers] ([Id], [FullName], [PhoneNumber], [Address], [Email], [IsActive]) VALUES (3, N'Khach C', N'0987654444', N'HaTinh', N'tqhung272@gmail.com', 1)
SET IDENTITY_INSERT [Customers] OFF
GO
SET IDENTITY_INSERT [Deliveries] ON 

INSERT [Deliveries] ([Id], [ShippingMethodId], [CustomerId], [DeliverId], [ProjectId], [DeliveryAddress], [EstimateDeliveryTime], [ActualDeliveryTime], [DeliveryStatus], [IsActive]) VALUES (3, 1, 1, 13, 2, N'Hanoi', CAST(N'2024-08-02T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-04T05:20:29.5700743' AS DateTime2), N'Delivered', 1)
INSERT [Deliveries] ([Id], [ShippingMethodId], [CustomerId], [DeliverId], [ProjectId], [DeliveryAddress], [EstimateDeliveryTime], [ActualDeliveryTime], [DeliveryStatus], [IsActive]) VALUES (6, 1, 2, 13, 3, N'Hanoi', CAST(N'2024-08-02T04:53:38.7550000' AS DateTime2), CAST(N'2025-06-30T02:47:20.6421522' AS DateTime2), N'Delivered', 1)
INSERT [Deliveries] ([Id], [ShippingMethodId], [CustomerId], [DeliverId], [ProjectId], [DeliveryAddress], [EstimateDeliveryTime], [ActualDeliveryTime], [DeliveryStatus], [IsActive]) VALUES (7, 2, 4, 13, 4, N'HaNoi', CAST(N'2024-08-08T17:20:31.2120000' AS DateTime2), CAST(N'2024-08-01T17:22:56.8137017' AS DateTime2), N'Delivered', 1)
SET IDENTITY_INSERT [Deliveries] OFF
GO
SET IDENTITY_INSERT [Designs] ON 

INSERT [Designs] ([Id], [ProjectId], [DesignerId], [FilePath], [DesignTime], [DesignStatus], [ApproverId], [IsActive]) VALUES (18, 2, 2, N'https://firebasestorage.googleapis.com/v0/b/zalo-app-66612.appspot.com/o/designs%2Fdesign1.jpg?alt=media&token=8fe2528c-2162-4a02-8eda-d46c15a79ecb', CAST(N'2025-01-04T05:40:58.3405633' AS DateTime2), N'Approved', 1, 1)
INSERT [Designs] ([Id], [ProjectId], [DesignerId], [FilePath], [DesignTime], [DesignStatus], [ApproverId], [IsActive]) VALUES (19, 2, 2, N'https://firebasestorage.googleapis.com/v0/b/zalo-app-66612.appspot.com/o/designs%2Fculture-design.jpg?alt=media&token=b8191d0e-2925-4d99-a2dc-41361cd0c849', CAST(N'2025-01-05T06:38:34.2492838' AS DateTime2), N'Approved', 1, 1)
INSERT [Designs] ([Id], [ProjectId], [DesignerId], [FilePath], [DesignTime], [DesignStatus], [ApproverId], [IsActive]) VALUES (21, 2, 2, N'https://firebasestorage.googleapis.com/v0/b/zalo-app-66612.appspot.com/o/designs%2Ffunny-design.jpg?alt=media&token=0f00560b-29ed-4ed7-a067-ebe1ba785dcd', CAST(N'2025-01-05T06:38:55.6400234' AS DateTime2), N'Approved', 1, 1)
SET IDENTITY_INSERT [Designs] OFF
GO
SET IDENTITY_INSERT [FlowTemplates] ON 

INSERT [FlowTemplates] ([Id], [ProductId], [Name], [IsActive]) VALUES (12, 3, N'Xử lý nhanh', 1)
INSERT [FlowTemplates] ([Id], [ProductId], [Name], [IsActive]) VALUES (13, 2, N'123123', 1)
INSERT [FlowTemplates] ([Id], [ProductId], [Name], [IsActive]) VALUES (14, 1, N'Luong 1', 1)
SET IDENTITY_INSERT [FlowTemplates] OFF
GO
SET IDENTITY_INSERT [Notifications] ON 

INSERT [Notifications] ([Id], [UserId], [Content], [Link], [CreateTime], [IsSeen], [IsActive]) VALUES (1, 2, N'Your design has been approved.', N'/projects/2/designs/1', CAST(N'2024-07-31T08:13:20.0187544' AS DateTime2), 0, 1)
INSERT [Notifications] ([Id], [UserId], [Content], [Link], [CreateTime], [IsSeen], [IsActive]) VALUES (2, 2, N'Your design has been rejected.', N'/projects/3/designs/2', CAST(N'2024-07-31T08:46:05.8705466' AS DateTime2), 0, 1)
INSERT [Notifications] ([Id], [UserId], [Content], [Link], [CreateTime], [IsSeen], [IsActive]) VALUES (3, 2, N'Your design has been approved.', N'/projects/3/designs/3', CAST(N'2024-08-01T04:13:24.3595996' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [Notifications] OFF
GO
SET IDENTITY_INSERT [Orders] ON 

INSERT [Orders] ([Id], [ProductID], [DesignID], [CustomerID], [CustomerName], [OrderDate], [Status], [DeliveryAddress], [PhoneNumber], [CreatedAt], [UpdatedAt], [IsActive], [Rating]) VALUES (17, 1, 19, 0, N'1 1', CAST(N'2025-05-14T13:56:22.8970000' AS DateTime2), N'pending', N'1, 1, 1, 1', N'1', CAST(N'2025-05-14T20:56:28.7586163' AS DateTime2), NULL, 1, 2)
INSERT [Orders] ([Id], [ProductID], [DesignID], [CustomerID], [CustomerName], [OrderDate], [Status], [DeliveryAddress], [PhoneNumber], [CreatedAt], [UpdatedAt], [IsActive], [Rating]) VALUES (18, 2, 19, 0, N'1 111', CAST(N'2025-05-15T10:32:16.2750000' AS DateTime2), N'pending', N'1, 1, 1, 1', N'1', CAST(N'2025-05-15T17:32:21.9157040' AS DateTime2), NULL, 1, NULL)
INSERT [Orders] ([Id], [ProductID], [DesignID], [CustomerID], [CustomerName], [OrderDate], [Status], [DeliveryAddress], [PhoneNumber], [CreatedAt], [UpdatedAt], [IsActive], [Rating]) VALUES (19, 1, 18, 0, N'1 1', CAST(N'2025-06-29T10:08:42.6840000' AS DateTime2), N'pending', N'1, 1, 1, 1', N'1', CAST(N'2025-06-29T17:08:47.5835586' AS DateTime2), NULL, 1, NULL)
SET IDENTITY_INSERT [Orders] OFF
GO
SET IDENTITY_INSERT [Permissions] ON 

INSERT [Permissions] ([Id], [UserId], [RoleId], [IsActive]) VALUES (1, 1, 2, 1)
INSERT [Permissions] ([Id], [UserId], [RoleId], [IsActive]) VALUES (2, 1, 1, 1)
INSERT [Permissions] ([Id], [UserId], [RoleId], [IsActive]) VALUES (3, 2, 2, 1)
SET IDENTITY_INSERT [Permissions] OFF
GO
SET IDENTITY_INSERT [PrintJobs] ON 

INSERT [PrintJobs] ([Id], [DesignId], [PrintJobStatus], [IsActive]) VALUES (20, 18, N'InProgress', 1)
INSERT [PrintJobs] ([Id], [DesignId], [PrintJobStatus], [IsActive]) VALUES (21, 29, N'Completed', 1)
INSERT [PrintJobs] ([Id], [DesignId], [PrintJobStatus], [IsActive]) VALUES (22, 42, N'Completed', 1)
SET IDENTITY_INSERT [PrintJobs] OFF
GO
SET IDENTITY_INSERT [Products] ON 

INSERT [Products] ([Id], [Name], [Description], [Price], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Túi giấy', N'Túi giấy chất lượng cao, hoàn hảo cho việc đóng gói quà tặng hoặc hàng hóa, dễ dàng tùy chỉnh với thiết kế độc đáo.', CAST(20000.00 AS Decimal(10, 2)), N'https://firebasestorage.googleapis.com/v0/b/zalo-app-66612.appspot.com/o/products%2Fpaper-bag.jpg?alt=media&token=75a30a7a-5987-4bb8-97ef-3d1f4f0d94a4', 1, CAST(N'2025-01-05T12:34:28.9787011' AS DateTime2), NULL)
INSERT [Products] ([Id], [Name], [Description], [Price], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Bình nước', N'Bình nước giữ nhiệt bền bỉ, có thể in logo hoặc thiết kế riêng, giúp bạn luôn có nước uống mát lạnh hay ấm nóng mọi lúc.', CAST(50000.00 AS Decimal(10, 2)), N'https://firebasestorage.googleapis.com/v0/b/zalo-app-66612.appspot.com/o/products%2Fwhite-bottle.jpg?alt=media&token=67bb0085-85cb-47c6-97f2-1569a1435cfb', 1, CAST(N'2025-01-05T12:35:19.9299128' AS DateTime2), NULL)
INSERT [Products] ([Id], [Name], [Description], [Price], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Hộp', N'Hộp đựng sang trọng, lý tưởng để đóng gói quà tặng, sản phẩm hoặc đồ dùng cá nhân với thiết kế riêng biệt', CAST(10000.00 AS Decimal(10, 2)), N'https://firebasestorage.googleapis.com/v0/b/zalo-app-66612.appspot.com/o/products%2Fwhite-box.jpg?alt=media&token=eed44289-0868-4c72-8ff5-9f1031d11ad9', 1, CAST(N'2025-01-05T12:35:53.3905090' AS DateTime2), NULL)
SET IDENTITY_INSERT [Products] OFF
GO
SET IDENTITY_INSERT [Projects] ON 

INSERT [Projects] ([Id], [ProjectName], [RequestDescriptionFromCustomer], [StartDate], [EmployeeId], [ExpectedEndDate], [CustomerId], [ProjectStatus], [IsActive]) VALUES (1, N'P1', N'Project 1', CAST(N'2024-07-30T00:00:00.0000000' AS DateTime2), 1, CAST(N'2024-07-30T00:00:00.0000000' AS DateTime2), 1, N'DangThietKe', 1)
INSERT [Projects] ([Id], [ProjectName], [RequestDescriptionFromCustomer], [StartDate], [EmployeeId], [ExpectedEndDate], [CustomerId], [ProjectStatus], [IsActive]) VALUES (2, N'P2', N'project 2', CAST(N'2024-07-30T00:00:00.0000000' AS DateTime2), 3, CAST(N'2024-08-30T00:00:00.0000000' AS DateTime2), 1, N'DangIn', 1)
INSERT [Projects] ([Id], [ProjectName], [RequestDescriptionFromCustomer], [StartDate], [EmployeeId], [ExpectedEndDate], [CustomerId], [ProjectStatus], [IsActive]) VALUES (3, N'P3', N'project 3', CAST(N'2024-07-31T00:00:00.0000000' AS DateTime2), 3, CAST(N'2024-08-31T00:00:00.0000000' AS DateTime2), 2, N'DangThietKe', 1)
SET IDENTITY_INSERT [Projects] OFF
GO
SET IDENTITY_INSERT [RefreshTokens] ON 

INSERT [RefreshTokens] ([Id], [UserId], [Token], [ExpiryTime], [IsActive]) VALUES (1, 1, N'XSmPOJiGrWOGXMHJoM9FOlBD03BMcfnuTHZ426YZayezeLsgu5JtBxZPjutc7l8WgxzcnWHrz1bk/W/1XO2OIg==', CAST(N'2024-07-31T05:54:43.7603159' AS DateTime2), 1)
INSERT [RefreshTokens] ([Id], [UserId], [Token], [ExpiryTime], [IsActive]) VALUES (2, 2, N'25AQtmwVfcrfBeGf/nN4nBZDU4ePXvtF8fAqu26tRk25BsIDNdTJqC9Fe5U0xK3rLIw8+20sRrpk4qLVB0bwcg==', CAST(N'2024-07-31T06:05:59.9792957' AS DateTime2), 1)
INSERT [RefreshTokens] ([Id], [UserId], [Token], [ExpiryTime], [IsActive]) VALUES (3, 2, N'XX516L2HsBSeolz82XucE0IXya0gmTTwm3D5VFmZCDjJz5F7sNHi5pPzmiHvQ99cIqei2QMHGNU4GDFnZhZbZQ==', CAST(N'2024-07-31T06:12:40.1736420' AS DateTime2), 1)
GO
SET IDENTITY_INSERT [RefreshTokens] OFF
GO
SET IDENTITY_INSERT [ResourceForPrintJobs] ON 

INSERT [ResourceForPrintJobs] ([Id], [ResourcePropertyDetailId], [PrintJobId], [IsActive]) VALUES (12, 3, 21, 1)
INSERT [ResourceForPrintJobs] ([Id], [ResourcePropertyDetailId], [PrintJobId], [IsActive]) VALUES (13, 14, 21, 1)
INSERT [ResourceForPrintJobs] ([Id], [ResourcePropertyDetailId], [PrintJobId], [IsActive]) VALUES (14, 3, 22, 1)
SET IDENTITY_INSERT [ResourceForPrintJobs] OFF
GO
SET IDENTITY_INSERT [ResourceProperties] ON 

INSERT [ResourceProperties] ([Id], [ResourcePropertyName], [ResourceId], [Quantity], [IsActive]) VALUES (1, N'Giay A4 Trang', 1, 307, 1)
INSERT [ResourceProperties] ([Id], [ResourcePropertyName], [ResourceId], [Quantity], [IsActive]) VALUES (3, N'Muc Do', 7, 5, 1)
INSERT [ResourceProperties] ([Id], [ResourcePropertyName], [ResourceId], [Quantity], [IsActive]) VALUES (4, N'Muc Den', 7, 94, 1)
SET IDENTITY_INSERT [ResourceProperties] OFF
GO
SET IDENTITY_INSERT [ResourcePropertyDetail] ON 

INSERT [ResourcePropertyDetail] ([Id], [PropertyId], [PropertyDetailName], [Price], [Quantity], [IsActive]) VALUES (1, 1, N'Giay A4 trang', 500, 10, 1)
INSERT [ResourcePropertyDetail] ([Id], [PropertyId], [PropertyDetailName], [Price], [Quantity], [IsActive]) VALUES (2, 3, N'May in cho project', 10000, 0, 1)
INSERT [ResourcePropertyDetail] ([Id], [PropertyId], [PropertyDetailName], [Price], [Quantity], [IsActive]) VALUES (3, 4, N'Muc in cho project', 30000, 2, 1)
SET IDENTITY_INSERT [ResourcePropertyDetail] OFF
GO
SET IDENTITY_INSERT [Resources] ON 

INSERT [Resources] ([Id], [ResourceName], [Image], [ResourceType], [AvailableQuantity], [ResourceStatus], [IsActive]) VALUES (1, N'Giay', N'D:/img/paperA4', N'Giay', 1767, N'SanSangSuDung', 1)
INSERT [Resources] ([Id], [ResourceName], [Image], [ResourceType], [AvailableQuantity], [ResourceStatus], [IsActive]) VALUES (6, N'MayIn', N'img/mayin', N'MayIn', 100, N'SanSangSuDung', 1)
INSERT [Resources] ([Id], [ResourceName], [Image], [ResourceType], [AvailableQuantity], [ResourceStatus], [IsActive]) VALUES (7, N'Muc', N'img/mucinden', N'Muc', 884, N'SanSangSuDung', 1)
SET IDENTITY_INSERT [Resources] OFF
GO
SET IDENTITY_INSERT [Roles] ON 

INSERT [Roles] ([Id], [RoleCode], [RoleName], [IsActive]) VALUES (1, N'Admin', N'Admin', 1)
INSERT [Roles] ([Id], [RoleCode], [RoleName], [IsActive]) VALUES (2, N'User', N'User', 1)
INSERT [Roles] ([Id], [RoleCode], [RoleName], [IsActive]) VALUES (3, N'Employee', N'Employee', 1)
SET IDENTITY_INSERT [Roles] OFF
GO
SET IDENTITY_INSERT [ShippingMethods] ON 

INSERT [ShippingMethods] ([Id], [ShippingMethodName], [IsActive]) VALUES (1, N'ChuyenPhatNhanh', 1)
INSERT [ShippingMethods] ([Id], [ShippingMethodName], [IsActive]) VALUES (2, N'ChuyenPhatQuaBuuDien', 1)
SET IDENTITY_INSERT [ShippingMethods] OFF
GO
SET IDENTITY_INSERT [Step] ON 

INSERT [Step] ([Id], [OrderId], [Name], [Position], [IsActive], [Status], [Note], [FulfilledAt]) VALUES (1, 17, N'Xác nhận đơn hàng', 1, 1, N'Completed', NULL, CAST(N'2025-05-15T17:30:00.2313120' AS DateTime2))
INSERT [Step] ([Id], [OrderId], [Name], [Position], [IsActive], [Status], [Note], [FulfilledAt]) VALUES (2, 17, N'Xử lý thô', 2, 1, N'Completed', NULL, CAST(N'2025-05-15T17:30:24.1872393' AS DateTime2))
INSERT [Step] ([Id], [OrderId], [Name], [Position], [IsActive], [Status], [Note], [FulfilledAt]) VALUES (3, 17, N'In', 3, 1, N'Completed', NULL, CAST(N'2025-05-15T17:30:24.1963261' AS DateTime2))
SET IDENTITY_INSERT [Step] OFF
GO
SET IDENTITY_INSERT [StepFlowTemplate] ON 

INSERT [StepFlowTemplate] ([Id], [FlowTemplateId], [StepTemplateId], [Position], [Name], [IsActive]) VALUES (48, 12, 1, 1, N'Xác nhận đơn hàng', 1)
INSERT [StepFlowTemplate] ([Id], [FlowTemplateId], [StepTemplateId], [Position], [Name], [IsActive]) VALUES (49, 12, 2, 2, N'Xử lý thô', 1)
INSERT [StepFlowTemplate] ([Id], [FlowTemplateId], [StepTemplateId], [Position], [Name], [IsActive]) VALUES (50, 12, 4, 3, N'Đóng gói', 1)
SET IDENTITY_INSERT [StepFlowTemplate] OFF
GO
SET IDENTITY_INSERT [StepTemplates] ON 

INSERT [StepTemplates] ([Id], [Name], [IsActive]) VALUES (1, N'Xác nhận đơn hàng', 1)
INSERT [StepTemplates] ([Id], [Name], [IsActive]) VALUES (2, N'Xử lý thô', 1)
INSERT [StepTemplates] ([Id], [Name], [IsActive]) VALUES (3, N'Gia công', 1)
SET IDENTITY_INSERT [StepTemplates] OFF
GO
SET IDENTITY_INSERT [Teams] ON 

INSERT [Teams] ([Id], [Name], [Description], [NumberOfMember], [CreateTime], [UpdateTime], [ManagerId], [IsActive]) VALUES (1, N'Design', N'Team design', 1, CAST(N'2024-07-30T22:56:29.7884030' AS DateTime2), CAST(N'2025-06-29T17:42:10.3206869' AS DateTime2), 1, 1)
INSERT [Teams] ([Id], [Name], [Description], [NumberOfMember], [CreateTime], [UpdateTime], [ManagerId], [IsActive]) VALUES (2, N'Sales', N'Team sales', 2, CAST(N'2024-07-30T22:56:46.8673727' AS DateTime2), CAST(N'2025-06-29T17:42:13.7627125' AS DateTime2), 1, 1)
INSERT [Teams] ([Id], [Name], [Description], [NumberOfMember], [CreateTime], [UpdateTime], [ManagerId], [IsActive]) VALUES (3, N'Shipping', N'Team shippers', 3, CAST(N'2024-08-01T02:30:09.0895522' AS DateTime2), CAST(N'2025-07-04T12:31:03.9830469' AS DateTime2), 13, 1)
SET IDENTITY_INSERT [Teams] OFF
GO
SET IDENTITY_INSERT [Users] ON 

INSERT [Users] ([Id], [UserName], [Password], [FullName], [DateOfBirth], [Avatar], [Email], [CreateTime], [UpdateTime], [PhoneNumber], [TeamId], [IsActive]) VALUES (1, N'admin', N'$2a$11$rbXPLbgNHYcFJ9NCW4d3BuaGQo7CpVaXDtLwJfbCEqq51W2etGC.W', N'tqh', CAST(N'2000-07-30T15:50:06.1450000' AS DateTime2), N'https://static.vecteezy.com/system/resources/previews/009/292/244/original/default-avatar-icon-of-social-media-user-vector.jpg', N'tqhung272@gmail.com', CAST(N'2024-07-30T22:51:00.5470541' AS DateTime2), NULL, N'0987654321', 1, 1)
INSERT [Users] ([Id], [UserName], [Password], [FullName], [DateOfBirth], [Avatar], [Email], [CreateTime], [UpdateTime], [PhoneNumber], [TeamId], [IsActive]) VALUES (2, N'teamplayer', N'$2a$11$qsC4wR18hNI4.QpQQJTarOHj4D80xI7dJijPL/LmuykX4UN8p67x.', N'tqhung', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'https://static.vecteezy.com/system/resources/previews/009/292/244/original/default-avatar-icon-of-social-media-user-vector.jpg', N'aallucard272@gmail.com', CAST(N'2024-07-30T22:53:29.4978626' AS DateTime2), CAST(N'2024-12-19T18:34:49.5659209' AS DateTime2), N'0987654322', 2, 1)
INSERT [Users] ([Id], [UserName], [Password], [FullName], [DateOfBirth], [Avatar], [Email], [CreateTime], [UpdateTime], [PhoneNumber], [TeamId], [IsActive]) VALUES (3, N'employee', N'$2a$11$1RHc9kGMsAB4ucEc5ilmcufgrboJIVWDE3mZ9n5PlI1KeOKQJm4Cy', N'tqh', CAST(N'2002-07-31T19:25:49.9480000' AS DateTime2), N'https://static.vecteezy.com/system/resources/previews/009/292/244/original/default-avatar-icon-of-social-media-user-vector.jpg', N'getmyklee@gmail.com', CAST(N'2024-08-01T02:26:59.5338593' AS DateTime2), NULL, N'0987654323', 2, 1)
SET IDENTITY_INSERT [Users] OFF
GO
/****** Object:  Index [IX_StepFlowTemplate_FlowTemplateId]    Script Date: 7/7/2025 11:50:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_StepFlowTemplate_FlowTemplateId] ON [StepFlowTemplate]
(
	[FlowTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StepFlowTemplate_StepTemplateId]    Script Date: 7/7/2025 11:50:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_StepFlowTemplate_StepTemplateId] ON [StepFlowTemplate]
(
	[StepTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Teams] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [ManagerId]
GO
ALTER TABLE [ConfirmEmails]  WITH CHECK ADD  CONSTRAINT [FK_ConfirmEmails_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ConfirmEmails] CHECK CONSTRAINT [FK_ConfirmEmails_Users_UserId]
GO
ALTER TABLE [Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [Customers] ([Id])
GO
ALTER TABLE [Deliveries] CHECK CONSTRAINT [FK_Deliveries_Customers_CustomerId]
GO
ALTER TABLE [Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [Projects] ([Id])
GO
ALTER TABLE [Deliveries] CHECK CONSTRAINT [FK_Deliveries_Projects_ProjectId]
GO
ALTER TABLE [Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_ShippingMethods_ShippingMethodId] FOREIGN KEY([ShippingMethodId])
REFERENCES [ShippingMethods] ([Id])
GO
ALTER TABLE [Deliveries] CHECK CONSTRAINT [FK_Deliveries_ShippingMethods_ShippingMethodId]
GO
ALTER TABLE [Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Users_DeliverId] FOREIGN KEY([DeliverId])
REFERENCES [Users] ([Id])
GO
ALTER TABLE [Deliveries] CHECK CONSTRAINT [FK_Deliveries_Users_DeliverId]
GO
ALTER TABLE [Designs]  WITH CHECK ADD  CONSTRAINT [FK_Designs_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [Projects] ([Id])
GO
ALTER TABLE [Designs] CHECK CONSTRAINT [FK_Designs_Projects_ProjectId]
GO
ALTER TABLE [Designs]  WITH CHECK ADD  CONSTRAINT [FK_Designs_Users_DesignerId] FOREIGN KEY([DesignerId])
REFERENCES [Users] ([Id])
GO
ALTER TABLE [Designs] CHECK CONSTRAINT [FK_Designs_Users_DesignerId]
GO
ALTER TABLE [Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Permissions] CHECK CONSTRAINT [FK_Permissions_Roles_RoleId]
GO
ALTER TABLE [Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Permissions] CHECK CONSTRAINT [FK_Permissions_Users_UserId]
GO
ALTER TABLE [PrintJobs]  WITH CHECK ADD  CONSTRAINT [FK_PrintJobs_Designs_DesignId] FOREIGN KEY([DesignId])
REFERENCES [Designs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [PrintJobs] CHECK CONSTRAINT [FK_PrintJobs_Designs_DesignId]
GO
ALTER TABLE [Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Projects] CHECK CONSTRAINT [FK_Projects_Customers_CustomerId]
GO
ALTER TABLE [Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Projects] CHECK CONSTRAINT [FK_Projects_Users_EmployeeId]
GO
ALTER TABLE [RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [ResourceForPrintJobs]  WITH CHECK ADD  CONSTRAINT [FK_ResourceForPrintJobs_PrintJobs_PrintJobId] FOREIGN KEY([PrintJobId])
REFERENCES [PrintJobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ResourceForPrintJobs] CHECK CONSTRAINT [FK_ResourceForPrintJobs_PrintJobs_PrintJobId]
GO
ALTER TABLE [ResourceForPrintJobs]  WITH CHECK ADD  CONSTRAINT [FK_ResourceForPrintJobs_ResourcePropertyDetail_ResourcePropertyDetailId] FOREIGN KEY([ResourcePropertyDetailId])
REFERENCES [ResourcePropertyDetail] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ResourceForPrintJobs] CHECK CONSTRAINT [FK_ResourceForPrintJobs_ResourcePropertyDetail_ResourcePropertyDetailId]
GO
ALTER TABLE [ResourceProperties]  WITH CHECK ADD  CONSTRAINT [FK_ResourceProperties_Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [Resources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ResourceProperties] CHECK CONSTRAINT [FK_ResourceProperties_Resources_ResourceId]
GO
ALTER TABLE [ResourcePropertyDetail]  WITH CHECK ADD  CONSTRAINT [FK_ResourcePropertyDetail_ResourceProperties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [ResourceProperties] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ResourcePropertyDetail] CHECK CONSTRAINT [FK_ResourcePropertyDetail_ResourceProperties_PropertyId]
GO
ALTER TABLE [Step]  WITH CHECK ADD  CONSTRAINT [FK_Step_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [Orders] ([Id])
GO
ALTER TABLE [Step] CHECK CONSTRAINT [FK_Step_Orders_OrderId]
GO
ALTER TABLE [StepFlowTemplate]  WITH CHECK ADD  CONSTRAINT [FK_StepFlowTemplate_FlowTemplates_FlowTemplateId] FOREIGN KEY([FlowTemplateId])
REFERENCES [FlowTemplates] ([Id])
GO
ALTER TABLE [StepFlowTemplate] CHECK CONSTRAINT [FK_StepFlowTemplate_FlowTemplates_FlowTemplateId]
GO
ALTER TABLE [StepFlowTemplate]  WITH CHECK ADD  CONSTRAINT [FK_StepFlowTemplate_StepTemplates_StepTemplateId] FOREIGN KEY([StepTemplateId])
REFERENCES [StepTemplates] ([Id])
GO
ALTER TABLE [StepFlowTemplate] CHECK CONSTRAINT [FK_StepFlowTemplate_StepTemplates_StepTemplateId]
GO
ALTER TABLE [Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Users_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [Users] ([Id])
GO
ALTER TABLE [Teams] CHECK CONSTRAINT [FK_Teams_Users_ManagerId]
GO
ALTER TABLE [Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [Teams] ([Id])
GO
ALTER TABLE [Users] CHECK CONSTRAINT [FK_Users_Teams_TeamId]
GO
USE [master]
GO
